<!-- Главное боковое меню -->
<div id="content" align="left">
  <div id="home_url">
    <a href="http://print.km.ua" class="home_url">www.print.km.ua</a>
  </div>
  <div id="menu">
    <ul>
      <li><a href="#&amp;id=1" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','menu_m_services_a.png',1)"><%= image_tag 'menu_m_services.png', width: 221, height: 31, border: 0 %></li>
      <li><a href="#&amp;id=2" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','menu_m_services_a.png',1)"><%= image_tag 'menu_m_prices.png', width: 221, height: 31, border: 0 %></li>
      <li><a href="#&amp;id=3" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','menu_m_payment_a.png',1)"><%= image_tag 'menu_m_payment.png', width: 221, height: 31, border: 0 %></li>
      <li><a href="#&amp;id=4" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','menu_m_shipping_a.png',1)"><%= image_tag 'menu_m_shipping.png', width: 221, height: 31, border: 0 %></li>
      <li><a href="#&amp;id=5" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','menu_m_how_a.png',1)"><%= image_tag 'menu_m_how.png', width: 221, height: 31, border: 0 %></li>
      <li><a href="#&amp;id=6" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','menu_m_info_a.png',1)"><%= image_tag 'menu_m_info.png', width: 221, height: 31, border: 0 %></li>
      <li><a href="#&amp;id=7" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image13','','menu_m_contacts_a.png',1)"><%= image_tag 'menu_m_contacts.png', width: 221, height: 31, border: 0 %></li>
    </ul>
       <div id="login" align="right" style="display:none"><ul id="ul_login">
      <li>Пользователь&nbsp;<b></b></li>
      <li>На вашем счету&nbsp;<b> грн.</b></li>
      <li><a href="#&amp;op=logout">Выйти</a>
        <br>
    </ul>
      <p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div id="right">
    <p><span style="display:none">&nbsp;<a href="#&amp;op=order&amp;action=edit_photo&amp;act=create"><img src="new_24.png" width="24" height="24" border="0">Сделать заказ</a> |
       &nbsp;<a href="#&amp;op=order&amp;action=list"><img src="orders_24.gif" width="24" height="24" border="0">заказы</a> |
	       &nbsp;<a href="#&amp;op=order&amp;action=myoffice"><img src="account_24.png" width="24" height="24" border="0">личный кабинет</a> |
    &nbsp;<a href="#&amp;op=order&amp;action=price"> <%= image_tag 'money_24.gif' , width: 24, height: 24, border: 0%>тарифы</a></span></p>
  </div>
  <div id="submenu" style="display:none">
    <br>
  </div>
  <div id="end"></div>
  <%= image_tag 'right_top_name.gif'%>
  <a href="#&amp;op=order&amp;action=create" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','button_order_a.gif',1)">
    <%= image_tag 'button_order.gif' , width: 636, height: 80, border: 0, alt: 'заказать'%>  </a> <br> <br> <br>
  <div id="right">
    <!--Форма входа на сайт-->
    <h2>Регистрация</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>


  </div>
</div>
  <div id="end">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" height="10"><%= image_tag 'ramka11.gif', width: 10, height: 10 %></td>
        <td background="ramka_t.gif" height="10"><%= image_tag 'ramka_t.gif', width: 2, height: 10 %></td>
        <td width="10" height="10"><%= image_tag 'ramka12.gif', width: 10, height: 10 %></td>
      </tr>
      <tr>
        <td <%= image_tag 'ramka_l.gif', width: 10, height: 1 %>
        <td>
          <%= image_tag 'image_paper.png', width: 92, height: 101, hspace: 10, vspace: 5, align: 'left', alt: 'image_paper.png'%>Вы можете загрузить фотографии через наш сайт. Сервис позволяет загружать фотографии с Вашего компьютера. Вы сможете установить количество, размер, тип бумаги и обработку для каждой фотографии. После этого Вам необходимо будет указать Ваши контактные данные и заказ будет оформлен. Загрузка фотографий через ФТП, который доступен по сети провайдеров г. Хмельницкого: Infodom, Happy.net, Datasvit, X-City. Скорость подключения до 100мбит/с, не требует сети интернет!!!	</td>
        <td background="ramka_r.gif" width="10"><%= image_tag 'ramka_r.gif', width: 10, height: 1 %></td>
      </tr>
      <tr>
        <td height="10" width="10"><%= image_tag 'ramka21.gif', width: 10, height: 10 %></td>
        <td background="ramka_b.gif" height="10"><%= image_tag 'ramka_b.gif', width: 1, height: 10 %></td>
        <td height="10" width="10"><%= image_tag 'ramka22.gif', width: 10, height: 10 %></td>
      </tr>
    </table>
  </div>

