<h2> Користувачі</h2>
<form >
  <button>
    Add
  </button>
</form>
<form >
  <table id="dynamic" width="650" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th># П/П</th>
      <th> email</th>
      <th>Адмін чи юзер</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <td> </td>
    </tr>gi
  </table>
</form>
<form>
  <button> Edit</button>
  <button> Delete</button>
</form>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


