<%= form_for :tariff, url: tariffs_path do |f| %>
  <p>
    <%= f.label :format_photo_id, 'Група' %>
   <%= f.collection_select :tariff_group_id, TariffGroup.all, :id, :name,  {label: "Група тарифів", prompt: "Виберіть групу тарифів"}  %>
  </p>
  <p>
    <%= f.label :tariff_format_id, 'Формат' %>
    <%= f.collection_select :format_photo_id, FormatPhoto.all, :id, :name,  {label: "Формат фото", prompt: "Виберіть формат фото"}  %>
  </p>
  <p>
    <%= f.label :price, 'Ціна' %>
    <%= f.text_field(:price, { class: 'form-control' }) %>
  </p>
  <p>
    <br>
    <%= f.submit('Зберегти', { class: 'btn btn-success' }) %>
  </p>
<% end %>
