<%= form_for :tariff, url: tariffs_path do |f| %>
  <p>
    <%= f.label :group, 'Група' %>
    <%= f.text_field(:group, { class: 'form-control' }) %>
  </p>
  <p>
    <%= f.label :format, 'Формат' %>
    <%= f.text_field(:format, { class: 'form-control' }) %>
  </p>
  <p>
    <%= f.label :price, 'Ціна' %>
    <%= f.text_field(:price, { class: 'form-control' }) %>
  </p>
  <p>
    <br>
    <%= f.submit('Зберегти', { class: 'btn btn-success' }) %>
    <%= link_to "Всі записи ", tariffs_path, class: 'btn btn-success' %>
  </p>
<% end %>
