<h1>Користувачі</h1>
<button><%= link_to 'Add' , user_add_path %></button>
<table>
  <tr>
    <th>id</th>
    <th>email</th>
    <th>admin</th>
    <th></th>
  </tr>
  <% @users.each do |users| %>
    <tr>
      <td><%= users.id %></td>
      <td><%= users.email%></td>
      <td><%= users.admin %></td>
      <td><button><%= link_to 'Edit', user_edit_path(users) %></button></td>
      <td><button><%= link_to 'Delete', user_delete_path(users),
                      method: :delete, data: { confirm: 'Дійсно хочете знищити?' } %></button></td>
    </tr>
  <% end %>
</table>